html,
body {
    background: #2ecc40 !important;
}

#gameContainer {
    background: transparent !important;
}

body {
    margin: 0;
}

#gameCanvas {
    display: block;
    margin: 40px auto;
    background: #2ecc40;
    /* green ground */
    border: 2px solid #333;
}